html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
}
html {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.map.fullscreen ~ .picInfo {
    display: none;
}
.picInfo {
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 10px;
    text-align: center;
    color: rgba(255,255,255, 0.6);
    width: 7px;
    height: 18px;
    z-index: 10;
}
.picInfo:hover {
    width: 58px;
    height: 36px;
    padding: 20px;
}
.picInfo:hover span {
    display: none;
}
.picInfo a {
    color: #000;
}
.picInfo .info {
    color: #000;
    position: fixed;
    width: 58px;
    height: 36px;
    padding: 20px;
    right: -96px;
    bottom: -76px;
    background-color: rgba(255,255,255, 0.8);
    -webkit-transition: background 0.5s, bottom 0.5s, right 0.5s;
    transition: background 0.5s, bottom 0.5s, right 0.5s;
}
.picInfo:hover .info {
    right: 0px;
    bottom: 0px;
    background-color: rgba(255,255,255, 0.8);
}
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

/* Map */
.map {
    opacity: 0.95;
    background-color: #fff;
    position: relative;
    height: 30%;
    max-height: 300px;
    width: 100%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.map.fullscreen {
    height: 100%;
    max-height: calc(100% - 40px - 2px)
}
.map.fullscreen ~ #core {
    display: none;
}
#mapToggle {
    position: absolute;
    bottom: 13px;
    right: 0px;
    width: 30px;
    height: 30px;
    background-color: #FFF;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 75% 75%;
    opacity: 0.7;
}
#mapToggle:hover {
    opacity: 1;
}

/* Header */
.header {
    height: 40px;
    width: 100%;
    background-color: rgba(255,255,255,0.8);
}
.header .siteName {
    display: inline-block;
    height: 20px;
    padding: 10px;
    float: left;
    color: #000;
    text-decoration: none;
    font-size: 20px;
}
.header .search-box {
    float: right;
    height: 40px;
    max-width: calc(100% - 176px);
}
.header .search-field {
    width: 300px;
    max-width: calc(100% - 77px - 12px);
    float: left;
    height: 30px;
    margin-top: 5px;

}
.header .search-button {
    float: left;
    margin: 5px;
    height: 30px;
}

/* Core */
#core {
    position: relative;
    width: calc(100% - (2*25px) );
    max-width: 975px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 25px auto 0px auto;
    min-height: calc(100% - 40px - 30% - 25px - 2px);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.column {
    background-color: rgba(255,255,255,0.8);
    width: calc(50% - 25px/2);
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    border: 1px solid #000;
    border-bottom-width: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.columnHeader {
    font-size: 22px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5px;
    border-bottom: 1px solid #aaa;
}
.column ul {
    max-height: calc(100%);
    position: absolute;
    top: 32px;
    left: 0px;
    bottom: 0px;
    width: 100%;
    overflow: auto;
}
.column ul li {
    padding: 15px;
    border-bottom: 1px solid #aaa;
}
#content2 {
    left: auto;
    right: 0px;
}
#content1:after {
    content: "";
    clear: left;
}
#content2:after {
    content: "";
    clear: both;
}
.title {
    display: inline-block;
    min-width: 114px;
}
.locationTitle, .descriptionTitle {
    display: inline-block;
    width: 133px;
    max-width: 100%;
    vertical-align: top;
}
.location, .description {
    display: inline-block;
    width: calc(100% - 133px);
    max-width: 100%;
}

/* Table */
.table {
    display: table;
    height: 100%;
    width: 100%;
}
.tableCell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.tableCell h1 {
    color: rgba(255,255,255,0.8);
}

/* Search */
.search-field {
    font-size: 16px;
    width: 45%;
    padding: 6px 9px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.6);
    border: 1px solid #d9d9d9;
    outline: none;
    height: 45px;
}
.search-field:hover {
    border: 1px solid #b9b9b9;
    border-top-color: #a0a0a0;
}
.search-field:focus {
    border: 1px solid #4d90fe;
}
.search-button {
    opacity: 0.7;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    -webkit-border-radius: 2px;
    -webkit-user-select: none;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    height: 36px;
    line-height: 27px;
    border-radius: 2px;
    cursor: default;
}
.search-button:hover {
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f8f8;
    background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}
